

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width : 1200px) {
}


/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width : 1200px) {

	.header h2 {
		letter-spacing: 4px;
	}

	.header a {
		text-decoration: none;
		color: white;
		padding-top: 26px;
		font-size: 16px;
	}

	.links-div {
		padding-top: 25px;
		text-align: right;
	}

	.links-div a{
		font-size: 19px;
		letter-spacing: 2px;
		padding-left: 22px;
		float: none;
	}

	.tag-class {
		font-weight: bold;
	    letter-spacing: 1px;
	    font-size: 15px;
	    margin-left: 2px;
	}

	#skills, #about-me, #projects {
		height: 900px;
	}

	#contact-me {
		height: 643px;
	}

	#skills {
		padding-top: 37px;
	}

	.skills-text {
		padding-top: 30px;
	}

	#about-me, #about-me-text {
		padding-top: 37px;
	}

	#projects, #project-text {
		padding-top: 37px;
	}

	#contact-me, #contact-me-text {
		padding-top: 37px;
	}

	#contact-me-text div {
		margin-right: 35px;
	}

	.skill-heading, .contact-me-heading, .project-heading, .about-me-heading {
		background: gainsboro;
		height: 100px;
		padding-top: 14px;
	}

	.home {
		height: 600px;
		padding-top: 50px;
	}
}


@media only screen and (max-width: 800px) {
	
	.links-div {
		padding-top: 25px;
	}

	.links-div a {
		color : white;
		font-size: 22px;
    	padding-left: 35px;
    	float: none;
	}

	blockquote {
		padding: 0px;
		font-size: 18.5px;
	}

	.home {
		height: 700px;
		padding-top: 50px;
	}

	#skills, #about-me, #projects {
		height: 800px;
	}

	#contact-me {
		height: 580px;
	}

	#about-me, #about-me-text, #skills, .skills-text, #projects, #project-text, #contact-me, #contact-me-text {
		padding-top: 37px;
	}

	#contact-me-text div {
		margin-right: 20px;
	}

	#viewport {
		padding-left: 12px;
	}

	.skill-heading, .contact-me-heading, .project-heading, .about-me-heading {
		background: gainsboro;
		height: 100px;
		padding-top: 14px;
	}
}


@media only screen and (max-width : 768px) {

	.links-div a {
    	padding-left: 32px;
	}
}

@media only screen and (max-width: 384px) {

	body {
		font-size: 14px;
	}

	.links-div a {
		font-size: 12px !important;
		padding : 0px;
		padding-left: 10.5px !important;
	}

	blockquote {
		padding: 0px;
		font-size: 14px !important;
	}

	.skill-heading, .contact-me-heading, .project-heading, .about-me-heading {
		background: gainsboro;
		height: 60px;
		padding-top: 1px;
	}

	h2 {
		font-size: 20px;
	}

	.skills-text canvas {
		height: 80px;
		width: 80px;
	}

	#viewport {
		padding-left: 12px;
	}
}


@media only screen and (max-width: 320px) {

	body {
		font-size: 9px !important;
	}

	.col-xs-12 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.col-xs-1 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.links-div a {
		font-size: 12px !important;
		margin-left: 9px;
		padding-left: 0px !important;
	}

	.tag-class {
		font-weight: bold;
	    letter-spacing: 1px;
	    font-size: 12px;
	    margin-left: 2px;
	}

	h2 {
		font-size: 20px;
	}

	.skill-heading, .contact-me-heading, .project-heading, .about-me-heading {
		background: gainsboro;
		height: 60px;
		padding-top: 1px;
	}

	blockquote {
		padding: 0px;
		font-size: 13.5px !important;
	}

	.skills-text {
		padding-top: 14px !important; 
	}

	.skills-text canvas {
		height: 80px;
		width: 80px;
	}

	h4 {
		font-size: 15px;
	}

	#contact-me-text div {
		padding-bottom: 18px;
	}

}
