
@font-face {
    font-family: raleway;
    src: url(fonts/raleway/Raleway-SemiBold.ttf) format("truetype");
    font-size: 12px;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	body {
		font-family: raleway;
		background-image: url('../images/body-background.jpg');
		overflow: hidden;
	} 
}