<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title> {{ page.title }} </title>
    {% seo %}
</head>

<body>
    <div id="twitter-wjs"></div>
    <div id="wrapper">
        <div class="container p-4">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="mt-2">
                        <nav class="navbar navbar-expand-lg">
                            <ul class="navbar-nav w-100">
                                <li class="nav-item w-20 pr-5 pl-5 text-center">
                                    <a href="/" class="home-link">
                                        <span class="font-weight-bold">Home</span>
                                    </a>
                                </li>
                                <li class="nav-item w-20 pr-5 pl-5 text-center">
                                    <a href="/skills" class="skills-link">
                                        <span class="font-weight-bold">Skills</span>
                                    </a>
                                </li>
                                <li class="nav-item w-20 pr-5 pl-5 text-center">
                                    <a href="/activities" class="rewards-link">
                                        <span class="font-weight-bold">Activities</span>
                                    </a>
                                </li>
                                <li class="nav-item w-20 pr-5 pl-5 text-center">
                                    <a href="/blogs" class="blogs">
                                        <span class="font-weight-bold">Blogs</span>
                                    </a>
                                </li>
                                <li class="nav-item w-20 pl-5 text-center">
                                    <a href="/resume/resume.pdf" class="resume" target="_blank">
                                        <span class="font-weight-bold">Resume</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <hr />
        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>
    <!--div class="footer">
        <footer class="text-center"></footer>
    </div-->
    <!--a class="btn btn-primary back-to-top">
        <img src="/static/images/uparrow.jpg" />
    </a-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/vis.js"></script>
</body>